### 一些常用的简单函数

In [1]:
import pandas as pd
df = pd.DataFrame({'A': 'a a b'.split(), 'B': [1, 2, 3], 'C': [4, 6, 5]}, index=['Aa', 'Bb', 'Cc'])
df_test = pd.DataFrame({'C': 'd e c'.split(), 'D': [6, 2, 4], 'E': [4, 6, 5]}, index=['Aa', 'Bb', 'Cc'])
print(df)
print(df_test)

    A  B  C
Aa  a  1  4
Bb  a  2  6
Cc  b  3  5
    C  D  E
Aa  d  6  4
Bb  e  2  6
Cc  c  4  5

#### rename函数

In [2]:
df.rename( columns={'A': 'AA'} )

   AA  B  C
Aa  a  1  4
Bb  a  2  6
Cc  b  3  5

#### sort函数

In [3]:
df_1 = df.sort_values('C')
print(df_1)
df_2 = df_1.sort_index()
print(df_2)

    A  B  C
Aa  a  1  4
Cc  b  3  5
Bb  a  2  6
    A  B  C
Aa  a  1  4
Bb  a  2  6
Cc  b  3  5

#### drop函数

In [4]:
df.drop(['A'], axis=1)

    B  C
Aa  1  4
Bb  2  6
Cc  3  5

#### merge函数

In [5]:
df_3 = pd.merge(df, df_test, left_index=True, right_index=True)
df_4 = df.merge(df_test, left_index=True, right_index=True)
print(df_3)
print(df_4)

    A  B  C_x C_y  D  E
Aa  a  1    4   d  6  4
Bb  a  2    6   e  2  6
Cc  b  3    5   c  4  5
    A  B  C_x C_y  D  E
Aa  a  1    4   d  6  4
Bb  a  2    6   e  2  6
Cc  b  3    5   c  4  5

#### concat函数
当axis=0（按index来拼接）时，相当于sas里的“data a; set a1 a2; run;”，也就是将两个DataFrame合起来； <br/>
当axis=1时，和merge差不多，我觉得最好用pd.merge()来处理。

In [6]:
df_5 = pd.concat([df, df_test], axis=0)
df_6 = pd.concat([df, df_test], axis=1, sort=True)
print(df_5)
print(df_6)

      A    B  C    D    E
Aa    a  1.0  4  NaN  NaN
Bb    a  2.0  6  NaN  NaN
Cc    b  3.0  5  NaN  NaN
Aa  NaN  NaN  d  6.0  4.0
Bb  NaN  NaN  e  2.0  6.0
Cc  NaN  NaN  c  4.0  5.0
    A  B  C  C  D  E
Aa  a  1  4  d  6  4
Bb  a  2  6  e  2  6
Cc  b  3  5  c  4  5

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.