### agg()函数
DataFrame.agg()或DataFrame.groupby.agg()、DataFrame.resample.agg()来完成灵活的列的聚合操作，不仅可以同时统计标准结果（sum\mean\std...），还能自定义函数进行统计。<br/>
(1) groupby是按行分组，agg则是按列聚合，使得pandas能够灵活进行数据集操作和统计； <br/>
(2) agg和apply一样，能够接受用户自定义的函数，进一步地提高了pandas的灵活性。

#### 1、和groupby()/resample()连用
参考链接：https://segmentfault.com/a/1190000012394176

In [1]:
import pandas as pd

df = pd.read_excel("https://github.com/chris1610/pbpython/blob/master/data/sample-salesv3.xlsx?raw=True")  # 从网络read_excel
df["date"] = pd.to_datetime(df['date'])  # 将"date"转为pandas里的datetime类型(为了能够resample)
print(df.head())

   account number                         name       sku  quantity  \
0          740150                   Barton LLC  B1-20000        39
1          714466              Trantow-Barrows  S2-77896        -1
2          218895                    Kulas Inc  B1-69924        23
3          307599  Kassulke, Ondricka and Metz  S1-65481        41
4          412290                Jerde-Hilpert  S2-34077         6

   unit price  ext price                date
0       86.69    3380.91 2014-01-01 07:21:51
1       63.16     -63.16 2014-01-01 10:00:47
2       90.70    2086.10 2014-01-01 13:24:58
3       21.05     863.05 2014-01-01 15:05:22
4       83.21     499.26 2014-01-01 23:26:55

In [2]:
df1 = df.set_index('date').resample('M')['ext price'].sum()
print('对ext price进行聚合统计--按月求和')
print(df1)
df2 = df.set_index('date').groupby('name')['ext price'].resample("M").sum()
print('对ext price进行聚合统计--group by name的按月求和')
print(df2)
df3 = df.set_index('date').resample("M")[['unit price', 'ext price']].agg(['sum', 'mean'])
print('对不同列进行多种聚合统计--按月')
print(df3)
df4 = df.groupby('name').agg({'ext price':['sum', 'mean', 'std'], 'unit price':['mean']})
print('对不同列进行不同类型的聚合统计--group by name')
print(df4)
print('对不同列进行多种聚合统计--group by name的按月')
print('注意：对ResamplerGroupby(或RollingGroupby)对象，用.agg([])求多个统计值会出错（单个是可以的）！！！')
print('github issue: https://github.com/pandas-dev/pandas/issues/15072')
try:
    df5 = df.set_index('date').groupby('name').resample("M")[['unit price', 'ext price']].agg(['sum', 'mean'])
except Exception as e:
    print(e)

对ext price进行聚合统计--按月求和
date
2014-01-31    185361.66
2014-02-28    146211.62
2014-03-31    203921.38
2014-04-30    174574.11
2014-05-31    165418.55
2014-06-30    174089.33
2014-07-31    191662.11
2014-08-31    153778.59
2014-09-30    168443.17
2014-10-31    171495.32
2014-11-30    119961.22
2014-12-31    163867.26
Freq: M, Name: ext price, dtype: float64
对ext price进行聚合统计--group by name的按月求和
name                             date
Barton LLC                       2014-01-31     6177.57
                                 2014-02-28    12218.03
                                 2014-03-31     3513.53
                                 2014-04-30    11474.20
                                 2014-05-31    10220.17
                                 2014-06-30    10463.73
                                 2014-07-31     6750.48
                                 2014-08-31    17541.46
                                 2014-09-30    14053.61
                                 2014-10-31     9351.68
                                 2014-11-30     4901.14
                                 2014-12-31     2772.90
Cronin, Oberbrunner and Spencer  2014-01-31     1141.75
                                 2014-02-28    13976.26
                                 2014-03-31    11691.62
                                 2014-04-30     3685.44
                                 2014-05-31     6760.11
                                 2014-06-30     5379.67
                                 2014-07-31     6020.30
                                 2014-08-31     5399.58
                                 2014-09-30    12693.74
                                 2014-10-31     9324.37
                                 2014-11-30     6021.11
                                 2014-12-31     7640.60
Frami, Hills and Schmidt         2014-01-31     5112.34
                                 2014-02-28     4124.53
                                 2014-03-31    10397.44
                                 2014-04-30     5036.18
                                 2014-05-31     4097.87
                                 2014-06-30    13192.19
                                                 ...
Trantow-Barrows                  2014-07-31    11987.34
                                 2014-08-31    17251.65
                                 2014-09-30     6992.48
                                 2014-10-31    10064.27
                                 2014-11-30     6550.10
                                 2014-12-31    10124.23
White-Trantow                    2014-01-31    13703.77
                                 2014-02-28    11783.98
                                 2014-03-31     8583.05
                                 2014-04-30    19009.20
                                 2014-05-31     5877.29
                                 2014-06-30    14791.32
                                 2014-07-31    10242.62
                                 2014-08-31    12287.21
                                 2014-09-30     5315.16
                                 2014-10-31    19896.85
                                 2014-11-30     9544.61
                                 2014-12-31     4806.93
Will LLC                         2014-01-31    20953.87
                                 2014-02-28    13613.06
                                 2014-03-31     9838.93
                                 2014-04-30     6094.94
                                 2014-05-31    11856.95
                                 2014-06-30     2419.52
                                 2014-07-31    11017.54
                                 2014-08-31     1439.82
                                 2014-09-30     4345.99
                                 2014-10-31     7085.33
                                 2014-11-30     3210.44
                                 2014-12-31    12561.21
Name: ext price, Length: 240, dtype: float64
对不同列进行多种聚合统计--按月
           unit price             ext price
                  sum       mean        sum         mean
date
2014-01-31    7297.38  54.458060  185361.66  1383.295970
2014-02-28    5975.99  55.333241  146211.62  1353.811296
2014-03-31    8480.77  59.723732  203921.38  1436.066056
2014-04-30    7198.02  53.716567  174574.11  1302.791866
2014-05-31    7463.65  56.542803  165418.55  1253.170833
2014-06-30    6974.31  54.486797  174089.33  1360.072891
2014-07-31    6927.02  54.117344  191662.11  1497.360234
2014-08-31    6387.84  54.596923  153778.59  1314.346923
2014-09-30    6279.76  53.218305  168443.17  1427.484492
2014-10-31    6984.69  55.434048  171495.32  1361.073968
2014-11-30    5768.14  50.597719  119961.22  1052.291404
2014-12-31    6773.72  56.922017  163867.26  1377.035798
对不同列进行不同类型的聚合统计--group by name
                                 ext price                            \
                                       sum         mean          std
name
Barton LLC                       109438.50  1334.615854  1059.889564
Cronin, Oberbrunner and Spencer   89734.55  1339.321642  1067.268339
Frami, Hills and Schmidt         103569.59  1438.466528   958.664895
Fritsch, Russel and Anderson     112214.71  1385.366790  1078.738174
Halvorson, Crona and Champlin     70004.36  1206.971724   996.836661
Herman LLC                        82865.00  1336.532258  1045.200332
Jerde-Hilpert                    112591.43  1265.072247  1096.957507
Kassulke, Ondricka and Metz       86451.07  1350.797969  1192.775443
Keeling LLC                      100934.30  1363.977027  1095.664973
Kiehn-Spinka                      99608.77  1260.870506  1096.482652
Koepp Ltd                        103660.54  1264.152927  1179.968531
Kuhn-Gusikowski                   91094.28  1247.866849  1019.425894
Kulas Inc                        137351.96  1461.191064  1155.916364
Pollich LLC                       87347.18  1196.536712   954.981093
Purdy-Kunde                       77898.21  1469.777547  1148.110119
Sanford and Sons                  98822.98  1391.872958  1059.467557
Stokes LLC                        91535.92  1271.332222  1035.536929
Trantow-Barrows                  123381.38  1312.567872  1082.326218
White-Trantow                    135841.99  1579.558023  1192.794961
Will LLC                         104437.60  1411.318919  1142.738993

                                unit price
                                      mean
name
Barton LLC                       53.769024
Cronin, Oberbrunner and Spencer  49.805821
Frami, Hills and Schmidt         54.756806
Fritsch, Russel and Anderson     53.708765
Halvorson, Crona and Champlin    55.946897
Herman LLC                       52.566935
Jerde-Hilpert                    52.084719
Kassulke, Ondricka and Metz      51.043125
Keeling LLC                      57.076081
Kiehn-Spinka                     55.561013
Koepp Ltd                        54.389756
Kuhn-Gusikowski                  55.833836
Kulas Inc                        59.661596
Pollich LLC                      56.533151
Purdy-Kunde                      50.340943
Sanford and Sons                 58.341549
Stokes LLC                       51.545278
Trantow-Barrows                  56.180106
White-Trantow                    58.613140
Will LLC                         58.632973
对不同列进行多种聚合统计--group by name的按月
注意：对ResamplerGroupby(或RollingGroupby)对象，用.agg([])求多个统计值会出错（单个是可以的）！！！
github issue: https://github.com/pandas-dev/pandas/issues/15072
Column(s) ['unit price', 'ext price'] already selected

#### 2、用自定义的函数进行统计

In [3]:
get_count = lambda x: x[x>10].count()  # lambda函数
get_count.__name__ = "count(lt 10)"
def get_max(x):  # 普通函数
    return x.value_counts(dropna=False).index[0]


df.agg({'ext price': ['sum', 'mean'], 
        'quantity': ['sum', get_count], 
        'unit price': ['mean'], 
        'sku': [get_max]})

                 ext price  quantity  unit price       sku
count(lt 10)           NaN    1158.0         NaN       NaN
get_max                NaN       NaN         NaN  S2-77896
mean          1.345856e+03       NaN   55.007527       NaN
sum           2.018784e+06   36463.0         NaN       NaN